In [1]:
# Python, Numpy, OS libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import itertools
sns.set()
%matplotlib inline

import plotly.graph_objects as go
import plotly.express as px
import plotly.io as pio
pio.templates.default = 'plotly_dark'
from plotly.subplots import make_subplots

from sklearn.model_selection import train_test_split

In [2]:
# Information about the columns and diabetes in general to understand about diabetes and the tests done to check for type1 and type2 diabetes
# Type 1 diabetes is often diagnosed more rapidly because it usually develops rapidly and involves high blood sugar levels and symptoms
# Type 2 diabetes develops often in over the course of years. Most common diabetes and usually develops during adulthood
# Diabetes can cause pregnancy complications and is usually recommended to test withtin 24~28 weeks of pregnancy.


# preg = Number of times pregnant
# plas = Plasma glucose concentration in a 2 hours in an oral glucose test
    # This measures how much the body is able to absorb the gluose(sugar). This is usually done to test diabetes during pregnency
# pres = Diastolic blood pressure(mm Hg) - this cannot be 0 because no one has 0 blood pressure when they are alive. 
# skin = Triceps skin folding thickness(mm)
# insu = 2 Hour serum insulin(mu U/ml) // Test is used to find out the levels of insulin in blood, Basically whether the patient is making enough insulin or not 
# mass = body mass index(weight in kgs) - BMI, it is considered overweight when BMI is greater than 25
# pedi = Diabetes pedigree function
# age = Age of patient
# class = Target(whether patient has diabetes or not)

In [3]:
train = pd.read_csv('dataset_37_diabetes.csv')

In [4]:
zeros = (train==0).astype(int).sum(axis=0)
zeros

preg     111
plas       5
pres      35
skin     227
insu     374
mass      11
pedi       0
age        0
class      0
dtype: int64

In [5]:
# Change the 0 values to NaNs to fill in the missing values
cols = ['mass', 'pres', 'plas']
train[cols] = train[cols].replace({0: np.nan})

In [6]:
train['mass'].fillna(train.groupby('age')['mass'].transform('mean'), inplace=True)
train['pres'].fillna(train.groupby('mass')['pres'].transform('mean'), inplace=True)
train['plas'].fillna(train.groupby('mass')['pres'].transform('mean'), inplace=True)

In [7]:
train.isna().sum()

preg     0
plas     0
pres     7
skin     0
insu     0
mass     0
pedi     0
age      0
class    0
dtype: int64

In [8]:
train['pres'].fillna(train.groupby('age')['pres'].transform('mean'), inplace=True)

In [9]:
train.isna().sum()

preg     0
plas     0
pres     0
skin     0
insu     0
mass     0
pedi     0
age      0
class    0
dtype: int64

In [10]:
class_rename = {'tested_positive': 1, 'tested_negative': 0}
train['class'] = train['class'].map(class_rename)

x_train = train
y_train = train['class']

In [11]:
x_train.head()

   preg   plas  pres  skin  insu  mass   pedi  age  class
0     6  148.0  72.0    35     0  33.6  0.627   50      1
1     1   85.0  66.0    29     0  26.6  0.351   31      0
2     8  183.0  64.0     0     0  23.3  0.672   32      1
3     1   89.0  66.0    23    94  28.1  0.167   21      0
4     0  137.0  40.0    35   168  43.1  2.288   33      1

In [12]:
y_train

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: class, Length: 768, dtype: int64

In [13]:
X_train, x_test, Y_train, y_test = train_test_split(x_train, y_train, test_size=0.2, random_state=3)

In [14]:
X_train.head()

     preg   plas   pres  skin  insu  mass   pedi  age  class
468     8  120.0  77.75     0     0  30.0  0.183   38      1
478     8  126.0  74.00    38    75  25.9  0.162   39      0
107     4  144.0  58.00    28   140  29.5  0.287   37      0
304     3  150.0  76.00     0     0  21.0  0.207   37      0
515     3  163.0  70.00    18   105  31.6  0.268   28      1

In [17]:
X_train.shape, x_test.shape

((614, 9), (154, 9))

In [18]:
Y_train.shape, y_test.shape

((614,), (154,))